## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 
.Rproj.user
.Rhistory
.RData

## content from makestuff
local.mk
dushoff_repos.mk
friends.mk
sites.mk
creation
Sandbox
Workshops
diversity_metrics
Planning
significance
Circumcision_and_behaviour
creation
Sandbox
Workshops
diversity_metrics
Planning
significance
Circumcision_and_behaviour
competenceFramework
rabies_report
rabies_R0
MMED
MMEDparticipants
ICI3D.github.io
coreFaculty
RTutorials
Malaria
malariaImmunity
mbfuture
fgc
QMEE
commit.time
commit.default
dotdir/
clonedir/
Workshops
Planning
Circumcision_and_behaviour
rabies_R0
MMED
MMEDparticipants
RTutorials
Malaria
malariaImmunity
QMEE
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
local.mk
makestuff
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
